/* # para identificar una etiqueta por el id de HTML */
#opciones {
  display: none;
}
#preguntaUno {
  display: none;
}
#preguntaDos {
  display: none;
}
#preguntaTres{
  display: none;
}

#preguntaUnoVol {
  display: none;
}
#preguntaDosVol{
  display: none;
}

#preguntaTresVol{
  display: none;
}
#resultados {
  display: none;
}

form {
    vertical-align: middle;
}


body {
  text-align: center;
  margin-top: 120px; /*top arriba*/
  color: blue;
  font-size: 22px;
  font-family: 'Times New Roman', Times, serif; 
}

h1 {
  color: white;
  font-size: 22px;
  font-family: Verdana;
}
h2 {
  color: blue;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}
h3 {
  color: white;
  font-size: 29px;
  font-family: Verdana;
}

h4 {
  color: white;
  font-size: 40px;
  font-family: Verdana;
}

h5 {
  color: blue;
  font-size: 29px;
  font-family: Verdana;
  font-style: italic;
}
#inicio{
  margin-top: 100px
}
body{
  background-image: url("ultimahp.jpg");
}


